{% load socialaccount %}

<a href="{% provider_login_url "openid" openid="http://steamcommunity.com/openid" next="/dashboard/" %}">LOG IN WITH STEAM</a>

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2>Enter Steam User Name or ID</h2>
        <form action="/get-steam-id-public/" method="get">
            <label for="steam_uid">Steam User Name or ID: </label>
            <input id="steam_uid" type="text" name="steam_uid">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
